body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #283747    ;
}

pre {
  white-space: pre;
}

a {
  color: #006994;
}

h1, p{
  color: white;
}

#ships {
  margin: 40px auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  background: -webkit-linear-gradient(0deg, transparent 95%, black 100%),
  -webkit-linear-gradient(90deg, transparent 95%, black 100%);
  background-color: #75DEFF;
  background-size: 20px 20px, 20px 20px;
}

.controls, .settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ship {
  position: absolute;
  background: #ECF0F1;
  border-radius: 20px;
  box-shadow: 0px 3px 2px 3px rgba(0, 0, 0, 0.5);
  margin-left: -20px;
  margin-top: -20px;
}

.ship-name {
  margin: 0;
  font-size: 8px;
  color: black;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  /* text-shadow: 0px 2px 2px rgba(0,0,0,1); */
}

input[type=number]{
  border: 2px solid #7F8C8D  ;
  border-radius: 4px;
  background-color: #9C0B0B;
  color: white;
  padding: 5px 12px;
  margin: 0 12px;
  max-width: 40px;
}

input[type=text]{
  border: 2px solid #7F8C8D  ;
  border-radius: 4px;
  background-color: #9C0B0B;
  color: white;
  padding: 5px 12px;
  margin: 0 12px;
  max-width: 1200px;
}

.controls .button,
.settings .button {
  border: 2px solid #7F8C8D  ;
  border-radius: 4px;
  background-color: #9C0B0B;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  margin: 0 12px;
}

.hit {
  position: absolute;
  background: red;
  border-radius: 20px;
  box-shadow: 0px 3px 2px 3px rgba(221, 8, 8, 0.575);
  margin-left: -20px;
  margin-top: -20px;
}